{% extends 'base.html' %}

{% block content %}
<div class="flex items-center justify-center py-8 px-4">
    <div class="max-w-sm w-full shadow-lg">
        <div class="md:p-8 p-5 bg-clr-1 rounded">
            <div class="px-4 flex items-center justify-between">
                <span tabindex="0"
                    class="focus:outline-none  text-base font-bold text-clr-5">{{ monthname }}</span>
                <div class="flex items-center">
                    <a href="{% url 'dashboard' %}?{{ prev_month }}">
                        <button aria-label="calendar backward"
                            class="focus:text-clr-4 hover:text-clr-4 text-clr-3">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <polyline points="15 6 9 12 15 18" />
                            </svg>
                        </button>
                    </a>
                    <a href="{% url 'dashboard' %}?{{ next_month }}">
                        <button aria-label="calendar forward"
                            class="focus:text-clr-4 hover:text-clr-4 text-clr-3">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler  icon-tabler-chevron-right"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <polyline points="9 6 15 12 9 18" />
                            </svg>
                        </button>
                    </a>
                </div>
            </div>
            <div class="flex items-center justify-between pt-12 overflow-x-auto">
                <table class="w-full">
                    <thead>
                        <tr>
                            <th>
                                <div class="w-full flex justify-center">
                                    <p class="text-base font-medium text-center text-clr-5">Mo</p>
                                </div>
                            </th>
                            <th>
                                <div class="w-full flex justify-center">
                                    <p class="text-base font-medium text-center text-clr-5">Tu</p>
                                </div>
                            </th>
                            <th>
                                <div class="w-full flex justify-center">
                                    <p class="text-base font-medium text-center text-clr-5">We</p>
                                </div>
                            </th>
                            <th>
                                <div class="w-full flex justify-center">
                                    <p class="text-base font-medium text-center text-clr-5">Th</p>
                                </div>
                            </th>
                            <th>
                                <div class="w-full flex justify-center">
                                    <p class="text-base font-medium text-center text-clr-5">Fr</p>
                                </div>
                            </th>
                            <th>
                                <div class="w-full flex justify-center">
                                    <p class="text-base font-medium text-center text-clr-5">Sa</p>
                                </div>
                            </th>
                            <th>
                                <div class="w-full flex justify-center">
                                    <p class="text-base font-medium text-center text-clr-5">Su</p>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ calendar }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}