{% extends 'base.html' %}
{% load static %}

{% block links %}
<script src="{% static 'training/js/checkbox.js' %}"></script>
{% endblock %}

{% block content %}
<div class="p-4">
    <div class="flex flex-col items-center">
        <div class="w-full max-w-xs">
            <form class="bg-clr-1 shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <div class="mb-4">
                    <label class="block text-clr-5 text-sm font-bold mb-2" for="eocode">
                    EO Code
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="eocode" type="text" placeholder="M000.00">
                </div>
                <div class="mb-4">
                    <label class="block text-clr-5 text-sm font-bold mb-2" for="title">
                    Lesson Title
                    </label>
                    <input class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="title">
                    <p class="text-red-500 text-xs italic">This field is required.</p>
                </div>
            </form>
        </div>
        <div class="block p-2 min-h-min w-min bg-clr-1 rounded-lg shadow-md">
            <table class="table-fixed text-clr-5">
                <thead>
                    <tr>
                        <th></th>
                        <th>1</th>
                        <th>2a</th>
                        <th>2b</th>
                        <th>3</th>
                        <th>4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="h-[50px]">
                        <th>P1</th>
                        <td class="w-[50px]">
                            <div onclick="checkChild(this)">
                                <label for="oneone" class="block p-4 m-2 bg-clr-3 hover:bg-yellow-500 rounded-lg shadow-md"></label>
                                <input type="checkbox" id="oneone" hidden>
                            </div>
                        </td>
                        <td class="w-[50px]">
                            <div onclick="checkChild(this)">
                                <label for="oneone" class="block p-4 m-2 bg-clr-3 hover:bg-yellow-500 rounded-lg shadow-md"></label>
                                <input type="checkbox" id="oneone" hidden>
                            </div>
                        </td>
                        <td class="w-[50px]">
                            <div onclick="checkChild(this)">
                                <label for="oneone" class="block p-4 m-2 bg-clr-3 hover:bg-yellow-500 rounded-lg shadow-md"></label>
                                <input type="checkbox" id="oneone" hidden>
                            </div>
                        </td>
                        <td class="w-[50px]">
                            <div onclick="checkChild(this)">
                                <label for="oneone" class="block p-4 m-2 bg-clr-3 hover:bg-yellow-500 rounded-lg shadow-md"></label>
                                <input type="checkbox" id="oneone" hidden>
                            </div>
                        </td>
                        <td class="w-[50px]">
                            <div onclick="checkChild(this)">
                                <label for="oneone" class="block p-4 m-2 bg-clr-3 hover:bg-yellow-500 rounded-lg shadow-md"></label>
                                <input type="checkbox" id="oneone" hidden>
                            </div>
                        </td>
                    </tr>
                    <tr class="h-[50px]">
                        <th>P2</th>
                        <td class="w-[50px]">
                            <div onclick="checkChild(this)">
                                <label for="oneone" class="block p-4 m-2 bg-clr-3 hover:bg-yellow-500 rounded-lg shadow-md"></label>
                                <input type="checkbox" id="oneone" hidden>
                            </div>
                        </td>
                        <td class="w-[50px]">
                            <div onclick="checkChild(this)">
                                <label for="oneone" class="block p-4 m-2 bg-clr-3 hover:bg-yellow-500 rounded-lg shadow-md"></label>
                                <input type="checkbox" id="oneone" hidden>
                            </div>
                        </td>
                        <td class="w-[50px]">
                            <div onclick="checkChild(this)">
                                <label for="oneone" class="block p-4 m-2 bg-clr-3 hover:bg-yellow-500 rounded-lg shadow-md"></label>
                                <input type="checkbox" id="oneone" hidden>
                            </div>
                        </td>
                        <td class="w-[50px]">
                            <div onclick="checkChild(this)">
                                <label for="oneone" class="block p-4 m-2 bg-clr-3 hover:bg-yellow-500 rounded-lg shadow-md"></label>
                                <input type="checkbox" id="oneone" hidden>
                            </div>
                        </td>
                        <td class="w-[50px]">
                            <div onclick="checkChild(this)">
                                <label for="oneone" class="block p-4 m-2 bg-clr-3 hover:bg-yellow-500 rounded-lg shadow-md"></label>
                                <input type="checkbox" id="oneone" hidden>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>P3</th>
                        <td class="w-[50px]">
                            <div onclick="checkChild(this)">
                                <label for="oneone" class="block p-4 m-2 bg-clr-3 hover:bg-yellow-500 rounded-lg shadow-md"></label>
                                <input type="checkbox" id="oneone" hidden>
                            </div>
                        </td>
                        <td class="w-[50px]">
                            <div onclick="checkChild(this)">
                                <label for="oneone" class="block p-4 m-2 bg-clr-3 hover:bg-yellow-500 rounded-lg shadow-md"></label>
                                <input type="checkbox" id="oneone" hidden>
                            </div>
                        </td>
                        <td class="w-[50px]">
                            <div onclick="checkChild(this)">
                                <label for="oneone" class="block p-4 m-2 bg-clr-3 hover:bg-yellow-500 rounded-lg shadow-md"></label>
                                <input type="checkbox" id="oneone" hidden>
                            </div>
                        </td>
                        <td class="w-[50px]">
                            <div onclick="checkChild(this)">
                                <label for="oneone" class="block p-4 m-2 bg-clr-3 hover:bg-yellow-500 rounded-lg shadow-md"></label>
                                <input type="checkbox" id="oneone" hidden>
                            </div>
                        </td>
                        <td class="w-[50px]">
                            <div onclick="checkChild(this)">
                                <label for="oneone" class="block p-4 m-2 bg-clr-3 hover:bg-yellow-500 rounded-lg shadow-md"></label>
                                <input type="checkbox" id="oneone" hidden>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}