{% extends 'base.html' %}
{% load static %}

{% block links %}
<script src="{% static 'training/js/checkbox.js' %}"></script>
{% endblock %}

{% block content %}
<div class="p-4">
    <div class="flex justify-center">
        {% if formid == 0 %}
            <button class="bg-clr-3 text-white font-bold py-2 px-4 mx-2 mb-4 rounded opacity-50 cursor-not-allowed">
                Lesson
            </button>
        {% else %}
        <a href="{% url 'teach-form' nightid 0 %}">
            <button class="bg-clr-3 hover:bg-clr-4 text-white font-bold py-2 px-4 mx-2 mb-4 rounded">
                Lesson
            </button>
        </a>
        {% endif %}
        {% if formid == 1 %}
            <button class="bg-clr-3 text-white font-bold py-2 px-4 mx-2 mb-4 rounded opacity-50 cursor-not-allowed">
                Activity
            </button>
        {% else %}
        <a href="{% url 'teach-form' nightid 1 %}">
            <button class="bg-clr-3 hover:bg-clr-4 text-white font-bold py-2 px-4 mx-2 mb-4 rounded">
                Activity
            </button>
        </a>
        {% endif %}
    </div>
    <form action="" method="post">
    <div class="flex flex-col items-center">
            {% csrf_token %}
            <div class="w-full max-w-xs">
                <div class="bg-clr-1 shadow-md rounded px-8 pt-6 pb-8 mb-4">
                {% for field in form.content_fields %}
                    <div class="mb-4">
                        <label class="block text-clr-5 text-sm font-bold mb-2" for="{{ field.id_for_label }}">
                        {{ field.name }}
                        </label>
                        <input class="shadow appearance-none border {% if field.errors %}border-red-500{% endif %} rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="{{ field.id_for_label }}" name="{{ field.name }}">
                    </div>
                    {% if field.errors %}
                        {% for error in field.errors %}
                        <p class="text-red-500 text-xs italic mb-2">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <div class="block p-2 mb-4 min-h-min w-min bg-clr-1 rounded-lg shadow-md">
                <table class="table-fixed text-clr-5">
                    <thead>
                        <tr>
                            <th></th>
                            {% for level in levels %}
                            <th>{{ level.name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for field in form.slot_fields %}
                            <tr class="h-[50px]" id="id_{{ field.name }}">
                                <th>P{{ forloop.counter }}</th>
                                {% for subwidget in field %}
                                <td class="w-[50px]">
                                    <div onclick="checkChild(this)">
                                        <label for="{{ subwidget.id_for_label }}" class="block p-4 m-2 bg-clr-3 hover:bg-yellow-500 rounded-lg shadow-md"></label>
                                        <input type="checkbox" hidden id="{{ subwidget.id_for_label }}" name="{{ field.name }}" value="{{ forloop.counter0 }}">
                                    </div>
                                </td>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
                {% for field in form.slot_fields %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                        <p class="text-red-500 text-xs text-center pb-2">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="block p-4 mb-4 min-h-min w-56 bg-clr-1 rounded-lg shadow-md">
                <div class="flex flex-col items-center">
                    {% if form.errors %}
                        {% for error in form.non_field_errors %}
                        <p class="text-red-500 text-xs pb-2">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <input type="submit" name="submit" value="Submit"
                        class="text-white bg-clr-3 hover:bg-clr-4 focus:outline-none focus:bg-clr-4 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0">
                    </input>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}