{% extends 'base.html' %}
{% load static %}

{% block links %}
<script src="{% static 'training/js/checkbox.js' %}"></script>
{% endblock %}

{% block content %}
<div class="p-4">
    <div class="flex flex-col items-center">
        <form action="" method="post">
            {% csrf_token %}
            <div class="w-full max-w-xs">
                <div class="bg-clr-1 shadow-md rounded px-8 pt-6 pb-8 mb-4">
                {% for field in form.content_fields %}
                    <div class="mb-4">
                        <label class="block text-clr-5 text-sm font-bold mb-2" for="{{ field.id_for_label }}">
                        {{ field.name }}
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="{{ field.id_for_label }}" name="{{ field.name }}">
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="block p-2 min-h-min w-min bg-clr-1 rounded-lg shadow-md">
                <table class="table-fixed text-clr-5">
                    <thead>
                        <tr>
                            <th></th>
                            {% for level in levels %}
                            <th>{{ level.name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for field in form.slot_fields %}
                            <tr class="h-[50px]">
                                <th>P{{ forloop.counter }}</th>
                                {% for subwidget in field %}
                                <td class="w-[50px]">
                                    <div onclick="checkChild(this)">
                                        <label for="{{ subwidget.id_for_label }}" class="block p-4 m-2 bg-clr-3 hover:bg-yellow-500 rounded-lg shadow-md"></label>
                                        <input type="checkbox" id="{{ subwidget.id_for_label }}" hidden value="{{ forloop.counter0 }}">
                                    </div>
                                </td>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <input type="submit" name="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}