{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block links %}
<link rel="stylesheet" href="{% static 'training/css/trainingnight.css' %}">
{% endblock %}

{% block content %}
<div class="p-4">
    <div>
        <div class="flex justify-between">
            <div class="font-bold text-2xl text-white">{{ title.month }} {{ title.day|ordinal }} Training Night</div>
            {% if user.senior.is_training %}
                {% if view == "view" %}
                    <form action="{% url 'edit-trainingnight' nightid %}">
                        <input type="submit" value="Edit"
                            class="text-white bg-clr-3 hover:bg-clr-4 focus:outline-none focus:bg-clr-4 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0">
                        </input>
                    </form>
                {% endif %}
                {% if view == "edit" %} 
                    <form action="{% url 'trainingnight' nightid %}">
                        <input type="submit" value="View"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0">
                        </input>
                    </form>
                {% endif %}
            {% endif %}
        </div>
        {% for role in roles %}
            <p class="font-normal text-white"><strong>{{ role.0 }}: </strong>{{ role.1 }}</p>
        {% endfor %}
    </div>
    
    <div class="pt-8 overflow-x-auto mx-auto">
        <table class="plan-wrapper table-fixed min-w-[1000px]">
            <tbody>
                {{ schedule }}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}