{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'training/css/trainingnight.css' %}">
{% endblock %}

{% block content %}
<div class="p-4">
    <div>
        <div class="font-bold text-2xl text-white">January 3<sup>rd</sup> Training Night</div>
        <p class="font-normal text-white"><strong>Duty NCOs: </strong>WO2 Lu, WO2 Pop</p>
        <p class="font-normal text-white"><strong>Floaters: </strong>FSgt Zhao</p>
    </div>
    
    <div class="pt-8">
        <table class="plan-wrapper table-fixed">
            <tbody>
                {{ schedule }}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}