{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block links %}
<link rel="stylesheet" href="{% static 'training/css/trainingnight.css' %}">
{% endblock %}

{% block content %}
<form action="{% url 'dashboard' 'view' %}">
    <input type="submit" value="Back to Dashboard" class="text-white bg-clr-1 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 mt-2 ml-2"></input>
</form>
<div class="p-4 pt-0">
    <div>
        <div class="flex justify-between">
            <div class="font-bold text-2xl text-white">{{ title.month }} {{ title.day|ordinal }} Training Night</div>
            <div class="flex">
                {% if user.senior.is_training %}
                    {% if view != "view" %}
                        <form action="{% url 'trainingnight' nightid %}" class="mx-1">
                            <input type="submit" value="View"
                                class="text-white bg-clr-3 hover:bg-clr-4 focus:outline-none focus:bg-clr-4 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3">
                            </input>
                        </form>
                    {% endif %}
                    {% if view != "edit" %}
                        <form action="{% url 'edit-trainingnight' nightid %}" class="mx-1">
                            <input type="submit" value="Edit"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3">
                            </input>
                        </form>
                    {% endif %}
                    {% if view != "due" %} 
                        <form action="{% url 'due-trainingnight' nightid %}" class="mx-1">
                            <input type="submit" value="Due"
                                class="text-white bg-red-600 hover:bg-red-800 focus:outline-none focus:bg-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3">
                            </input>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% for role in roles %}
            <p class="font-normal text-white"><strong>{{ role.0 }}: </strong>{{ role.1 }}</p>
        {% endfor %}
    </div>
    
    <div class="pt-8 overflow-x-auto mx-auto">
        <table class="plan-wrapper table-fixed min-w-[1000px]">
            <tbody class="text-gray-400">
                {{ schedule }}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}