{% extends "base.html" %}

{% block content %}
<div class="bg-clr-2 min-h-screen pt-2 font-mono">
    <div class="container mx-auto">
        <div class="inputs w-full max-w-2xl p-6 mx-auto">
            <h2 class="text-2xl text-clr-5">Account Setting</h2>
            <form action="" method="post" class="mt-6 border-t border-gray-400 text-clr-5 pt-4">
                {% csrf_token %}
                <div class="flex flex-wrap -mx-3 mb-6">
                    {% for field in form.settings_fields %}
                        {% if field.errors %}
                        <div class="w-full md:w-full px-3 mb-6">
                            <label class="block uppercase tracking-wide text-xs font-bold mb-2" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <input class="appearance-none block w-full bg-white text-gray-700 border border-red-600 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-red-400" id="{{ field.id_for_label }}" type="text" placeholder="{{ field.placeholder }}" name="{{ field.name }}" value="{{ field.initial }}" required>
                            {% for error in field.errors %}
                            <p class="text-red-600">{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="w-full md:w-full px-3 mb-6">
                            <label class="block uppercase tracking-wide text-xs font-bold mb-2" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <input class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500" id="{{ field.id_for_label }}" type="text" placeholder="{{ field.placeholder }}" name="{{ field.name }}" value="{{ field.initial }}" required>
                        </div>
                        {% endif %}
                    {% endfor %}
                    <div class="w-full md:w-full px-3 mb-6 ">
                        <label class="block uppercase tracking-wide text-xs font-bold mb-2">password</label>
                        <a href="{% url 'password_change' %}">
                            <button type="button" class="appearance-none bg-gray-200 text-gray-900 px-2 py-1 shadow-sm border border-gray-400 rounded-md ">change your password</button>
                        </a>
                    </div>
                    <div class="personal w-full border-t border-gray-400 pt-4">
                        <h2 class="text-2xl">Personal info:</h2>
                        <div class="flex items-center justify-between mt-4">
                            {% for field in form.active_fields %}
                                {% if field.errors %}
                                <div class="w-full md:w-1/2 px-3 mb-6">
                                    <label class="block uppercase tracking-wide text-xs font-bold mb-2" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    <input class="appearance-none block w-full bg-white text-gray-700 border border-red-600 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-red-400" type="text" id="{{ field.id_for_label }}" name="{{ field.name }}" value="{{ field.initial }}" required>
                                    {% for error in field.errors %}
                                    <p class="text-red-600">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                {% else %}
                                <div class="w-full md:w-1/2 px-3 mb-6">
                                    <label class="block uppercase tracking-wide text-xs font-bold mb-2" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    <input class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500" type="text" id="{{ field.id_for_label }}" name="{{ field.name }}" value="{{ field.initial }}" required>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="flex items-center justify-between mt-4">
                            {% for field in form.inactive_fields %}
                                {% if field.errors %}
                                <div class="w-full md:w-1/2 px-3 mb-6">
                                    <label class="block uppercase tracking-wide text-xs font-bold mb-2" >{{ field.label }}</label>
                                    <input class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500" type="text" name="{{ field.name }}" required readonly value="{{ field.initial }}">
                                    {% for error in field.errors %}
                                    <p class="text-red-600">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                {% else %}
                                <div class="w-full md:w-1/2 px-3 mb-6">
                                    <label class="block uppercase tracking-wide text-xs font-bold mb-2" >{{ field.label }}</label>
                                    <input class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500" type="text" name="{{ field.name }}" required readonly value="{{ field.initial }}">
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% for error in field.non_field_errors %}
                            <p class="text-red-600">{{ error }}</p>
                        {% endfor %}
                        <div class="flex justify-end">
                            <button class="appearance-none bg-gray-200 text-gray-900 px-2 py-1 shadow-sm border border-gray-400 rounded-md mr-3" type="submit">save changes</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}