{% load static %}

<nav class="px-2 sm:px-4 py-2.5 w-full z-20 top-0 left-0 border-b border-gray-600">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <a href="{% url 'home' %}" class="flex items-center">
      <img src="{% static 'base/img/778crest.png' %}" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo">
      <span class="self-center text-xl font-semibold whitespace-nowrap text-clr-5">778 Banshee</span>
    </a>
    {% if user.is_authenticated %}
    <div class="flex items-center md:order-2">
      <button type="button"
        class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
        id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
        data-dropdown-placement="bottom">
        <span class="sr-only">Open user menu</span>
        <img class="w-8 h-8 rounded-full"
          src="https://ui-avatars.com/api/?name={{ user.last_name }}+{{ user.first_name }}&background=random"
          alt="user photo">
      </button>
      <!-- Dropdown menu -->
      <div
        class="hidden z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600"
        id="user-dropdown">
        <div class="py-3 px-4">
          <span class="block text-sm text-gray-900 dark:text-white">{{ user.senior }}</span>
          <span class="block text-sm font-medium text-gray-500 truncate dark:text-gray-400">{{ user.email }}</span>
        </div>
        <ul class="py-1" aria-labelledby="user-menu-button">
          <li>
            <a href="{% url 'dashboard' 'view' %}"
              class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
          </li>
          <li>
            <a href="{% url 'settings' %}"
              class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>
          </li>
          <li>
            <a href="{% url 'logout' %}"
              class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign
              out</a>
          </li>
        </ul>
      </div>
    </div>
    {% else %}
    <div class="flex md:order-2">
      <a href="{% url 'login' %}#main">
        <button type="button"
          class="text-white bg-clr-3 hover:bg-clr-4 focus:outline-none focus:bg-clr-4 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0">
          Login
        </button>
      </a>
    </div>
    {% endif %}
  </div>
</nav>
<script src="{% static 'navbar/js/navbar-bundle.js' %}"></script>