.plan-wrapper {
    width: 100%;
    margin: auto;
    font-size: 13px;
    max-width: 1400px;
}

.plan-wrapper tr th:first-child {
    width: 40px
}

.plan-wrapper tr>td>a {
    height: 100%
}

.plan-wrapper td,
.plan-wrapper th {
    border: 1px solid white;
    color: white;
    width: 200px;
    padding: .5rem;
    height: 1px;
}

.plan-wrapper th {
    text-align: center;
    font-size: 18px;
}